---
// src/pages/admin.astro
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Admin</title>
  </head>
  <body>
    <h1>Bienvenue Admin</h1>
    <p>Vous êtes connecté en tant qu'administrateur.</p>
  </body>
</html>
