---
import RegisterForm from '../components/RegisterForm.jsx';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
  </head>
  <body>
    <RegisterForm client:load />
  </body>
</html>